/* 푸터 */
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 35px;
    padding-bottom: 40px;
    gap: 200px;
}
.bigfont{
    font-weight: bold;
    font-size: 20px;
}
.smallfont{
    font-size: 13px;
}
.lastfont{
    padding-top: 10px;
    color: gray;
}
.footer-left{
    padding-left: 20px;
}
.footer-right{
    padding-right: 20px;
}
.foot p{
    margin: 3px;
}