
/* 바디 */
.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}
  
  
.navbar::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(177, 177, 177);
}
  
 
.nav-left, .nav-center, .nav-right {
    max-width: 1200px;
    width: 100%;
}
  
  /* nav 내부 */
.nav-left {
    display: flex;
    flex-direction: row;
}
  
.logo-img {
    padding-left: 30px;
}
  
.nav-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
  
.search-input {
    border-radius: 25px;
    width: 450px;
    height: 45px;
    padding-left: 25px;
    border: 1px solid #ccc;
}
  
.search-button {
    border: none;
    background-color: transparent;
    margin-left: 10px;
}
  
.search-icon {
    width: 40px;
    height: 40px;
}
  
.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
.nav-icon {
    display: block;
}
  
.large-icon {
    width: 60px;
    height: 70px;
}
  
.middle-icon {
    width: 50px;
    height: 70px;
    margin: 0 40px;
}
  
.small-icon {
    width: 45px;
    height: 72px;
}

.section-top{
    display: flex;
    flex-direction: row;
    padding-top: 80px;
}
.section-left img{
    padding-left: 180px;
    width: 450px;
    height: 400px;
}
.section-right{
    padding-top: 40px;
    padding-left: 100px;
}
.product-cat{
    color: gray;
}
.product{
    font-size: 25px;
}
.product-price{
    font-size: 25px;
    font-weight: bold;
}
.product-intro{
    padding-left: 150px;
    font-weight: bold; 
    font-size:25px;
    padding-top: 50px;
}
.section-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:30px;
    gap:30px;
}
.productss{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.products-left img{
    padding-left: 130px;
    padding-bottom: 30px;
    width: 200px;
    height: 200px;
}
.products-right{
    padding-top: 30px;
}
.section-bottom{
    padding-left: 130px;
    padding-bottom: 50px;
}
.section-bottom-info{
    font-weight: bold;
    font-size: 30px;
}

.section-right button{
    width: 305px;
    height: 50px;
    background-color: white;
    color: #0064FF;
    border-radius: 50px;
    border: 1px solid #0064FF;
}

.section-right button:hover{
    width: 305px;
    height: 50px;
    background-color: #0064FF;
    color: white;
    border-radius: 50px;
    border: 1px solid #0064FF;
}

/* 푸터 */
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 40px;
    background-color: aliceblue;
}
.bigfont{
    font-weight: bold;
    font-size: 20px;
}
.smallfont{
    font-size: 13px;
}
.lastfont{
    padding-top: 10px;
    color: gray;
}
.footer-left{
    padding-left: 130px;
}
.footer-right{
    padding-right: 130px;
}
.foot p{
    margin: 3px;
}
@media screen and (max-width: 500px) {

    .navbar{
        width: 428px;
        height: 60px;
        padding: 0;
    }
    .logo-img{
        width: 70px;
        padding: 0;
        padding-left: 20px;
    }
    
    .nav-center input{
        padding: 0px;
        padding-left: 5px;
        width: 150px;
        height: 20px;
    }

    .nav-center input::placeholder{
        font-size: 10px;
    }
    .nav-center img{
        display: none;
    }
    
    .nav-right{
        justify-content: flex-start;
    }

    .nav-right img{
        width: 25px;
        height: 35px;
        margin: 5px;
    }

    .section-top{
        padding: 0;
        height: 250px;
        flex-direction: column;
    }

    .section-left img{
        padding: 0;
        padding-left: 40px;
        width: 346px;
        height: 300px;
    }
    
    .section-right{
        padding: 0;
        padding-left: 15px;
    }

    .product-intro{
        display: none;
    }

    .section-center{
        display: none;
    }

    .productss{
        display: none;
    }

    .section-bottom{
        padding: 0;
        padding-top: 300px;
        padding-left: 20px;
        padding-bottom: 50px;
    }

    .product{
        margin: 0;
    }

    .product-price{
        margin: 0;
        margin-top: 10px;
    }

    .price-time{
        display: flex;
        flex-direction: row;
        margin: 0;
        gap: 5px;
        padding-bottom: 15px;
    }

    .section-right button{
        width: 190px;
    }

    .footer-left{
        padding: 0px;
    }

    .foot{
        padding: 0;
        flex-direction: column;
        padding-left: 20px;
    }
}

