.nav{
    display: flex;
    flex-direction: row;

}

.body-top p{
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

.body-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    font-weight: bold;
    font-size: 24px;
    padding-left: 200px;
}

.body-top input{
    width: 475px;
    height: 50px;
    background-color: white;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.info-details{
    padding-right: 430px;
    font-size: 15px;
    font-weight: 500;
}

.phone{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.phone input{
    width: 346px;
    height: 51px;
    outline: none;
    border: 1px solid #ccc;
    box-shadow: none;
}

.phone button{
    width: 123px;
    height: 56px;
    font-size: 15px;
    color: #0064ff;
    border-color: #0064ff;
    background-color: white;
}

.phone button:hover{
    color:white;
    border-color: #0064ff;
    background-color: #0064FF;
    font-weight: bold;
}

.agree{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.agree button{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 475px;
    height: 51px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: none;
    font-weight: 500;
    font-size: 20px;
    padding: 0;
    padding-top: 5px;
}

.agree img{
    margin-top: 3px;
    padding-right: 10px;
    padding-left: 7px;
    width: 28px;
    height: 28px;
}

.agree-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.agree-detail .check{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.agree-detail img{
    width: 24px;
    height: 24px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    gap: 8px;
  }

.check p {
    margin: 0;
  }

.check button {
    background: none;
    border: none;
    padding: 0;
  }

.check img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

.arrow{
    display: flex;
    padding-left: 200px;
}

.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 100px;
}

.register button:hover{
    color:white;
    border-color: #0064ff;
    background-color: #0064FF;
    font-weight: bold;
}

.register button{
    width: 475px;
    height: 50px;
    font-size: 16px;
    color:blue;
    border-color: #0064ff;
    background-color: white;
    font-weight: bold;
}

@media (max-width: 500px) {
    .logo{
        display: none;
    }

    .info{
        display: none;
    }
    .body-top{
        padding-top: 100px;
    }
    .info-details{
        padding-left: 0;
    }

    .body-top p{
        font-size: 10px;
        padding: 0;
        padding-right: 170px;
    }

    .body-top input{
        width: 200px;
        height: 25px;
    }

    .body-top input::placeholder{
        font-size: 10px;
    }

    .phone input{
        width: 150px;
        height: 25px;
    }

    .phone input::placeholder{
        font-size: 10px;
    }

    .phone button{
        width: 50px;
        height: 25px;
        font-size: 8px;
    }

    .agree button{
        width: 200px;
        height: 25px;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        padding-top: 3px;
    }

    .agree img{
        width: 14px;
        height: 14px;
        padding: 0;
        margin-top: 0;
        margin-top: 3px;
        padding-right: 8px;
        padding-left: 5px;
    }

    .agree-detail img{
        width: 12px;
        height: 12px;
    }

    .agree-detail p{
        font-size: 10px;
    }

    .arrow{
        display: flex;
        padding-left: 0px;
        padding-left: 30px;
    }

    .register button{
        width: 200px;
        height: 25px;
        font-size: 14px;
    }

    .register button:hover{
        color:white;
        border-color: #0064ff;
        background-color: #0064FF;
        font-weight: bold;
    }
}


  